function Main.main 1
call SnakeGame.newInstance 0
pop temp 0
call SnakeGame.getInstance 0
pop local 0
push local 0
call SnakeGame.run 1
pop temp 0
push local 0
call SnakeGame.dispose 1
pop temp 0
push constant 0
return
