function Snake.new 1
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 12
pop this 0
push constant 0
pop this 1
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push this 0
call SnakeNode.new 5
pop this 2
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push this 0
call SnakeNode.new 5
pop this 3
push this 2
push this 3
call SnakeNode.setNext 2
pop temp 0
push this 3
push this 2
call SnakeNode.setPrev 2
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push argument 2
lt
not
if-goto WHILE_END0
push pointer 0
push argument 0
push argument 1
call Snake.add 3
pop temp 0
push argument 0
push this 0
add
pop argument 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
function Snake.add 2
push argument 0
pop pointer 0
push this 3
call SnakeNode.getPrev 1
pop local 1
push argument 1
push argument 2
push local 1
push this 3
push this 0
call SnakeNode.new 5
pop local 0
push this 3
push local 0
call SnakeNode.setPrev 2
pop temp 0
push local 1
push local 0
call SnakeNode.setNext 2
pop temp 0
push constant 0
return
function Snake.remove 2
push argument 0
pop pointer 0
push this 3
call SnakeNode.getPrev 1
pop local 0
push local 0
call SnakeNode.getPrev 1
pop local 1
push this 3
push local 1
call SnakeNode.setPrev 2
pop temp 0
push local 1
push this 3
call SnakeNode.setNext 2
pop temp 0
push local 0
call SnakeNode.hide 1
pop temp 0
push local 0
call SnakeNode.dispose 1
pop temp 0
push constant 0
return
function Snake.dispose 0
push argument 0
pop pointer 0
push this 2
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
call SnakeNode.dispose 1
pop temp 0
label IF_FALSE0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Snake.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Snake.draw 1
pop temp 0
push constant 0
return
function Snake.draw 1
push argument 0
pop pointer 0
push this 2
call SnakeNode.getNext 1
pop local 0
label WHILE_EXP0
push local 0
call SnakeNode.getNext 1
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call SnakeNode.show 1
pop temp 0
push local 0
call SnakeNode.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Snake.move 2
push argument 0
pop pointer 0
push this 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label IF_FALSE0
push this 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
label IF_FALSE1
push this 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
label IF_FALSE2
push this 1
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
label IF_FALSE3
push constant 0
return
