function Snake.new 1
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 12
pop this 0
push constant 3
pop this 1
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push this 0
call SnakeNode.new 5
pop this 2
push constant 1
neg
push constant 1
neg
push constant 0
push constant 0
push this 0
call SnakeNode.new 5
pop this 3
push this 2
push this 3
call SnakeNode.setNext 2
pop temp 0
push this 3
push this 2
call SnakeNode.setPrev 2
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push argument 2
lt
not
if-goto WHILE_END0
push pointer 0
push argument 0
push argument 1
call Snake.addHead 3
pop temp 0
push argument 0
push this 0
add
pop argument 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
function Snake.addHead 2
push argument 0
pop pointer 0
push this 2
call SnakeNode.getNext 1
pop local 1
push argument 1
push argument 2
push this 2
push local 1
push this 0
call SnakeNode.new 5
pop local 0
push this 2
push local 0
call SnakeNode.setNext 2
pop temp 0
push local 1
push local 0
call SnakeNode.setPrev 2
pop temp 0
push local 0
call SnakeNode.show 1
pop temp 0
push constant 0
return
function Snake.removeTail 2
push argument 0
pop pointer 0
push this 3
call SnakeNode.getPrev 1
pop local 0
push local 0
call SnakeNode.getPrev 1
pop local 1
push this 3
push local 1
call SnakeNode.setPrev 2
pop temp 0
push local 1
push this 3
call SnakeNode.setNext 2
pop temp 0
push local 0
call SnakeNode.hide 1
pop temp 0
push local 0
call SnakeNode.dispose 1
pop temp 0
push constant 0
return
function Snake.dispose 1
push argument 0
pop pointer 0
push this 2
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call SnakeNode.dispose 1
pop temp 0
push local 0
call SnakeNode.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Snake.getHead 0
push argument 0
pop pointer 0
push this 2
call SnakeNode.getNext 1
return
function Snake.getTail 0
push argument 0
pop pointer 0
push this 3
call SnakeNode.getPrev 1
return
function Snake.getDirection 0
push argument 0
pop pointer 0
push this 1
return
function Snake.setDirection 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
push this 1
push constant 1
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 0
eq
push argument 1
push constant 1
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
label IF_FALSE0
push this 1
push constant 2
eq
push this 1
push constant 3
eq
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push constant 2
eq
push argument 1
push constant 3
eq
or
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
label IF_FALSE2
push argument 1
pop this 1
push constant 0
return
function Snake.draw 1
push argument 0
pop pointer 0
push this 2
call SnakeNode.getNext 1
pop local 0
label WHILE_EXP0
push local 0
call SnakeNode.getNext 1
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call SnakeNode.show 1
pop temp 0
push local 0
call SnakeNode.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Snake.move 3
push argument 0
pop pointer 0
push this 2
call SnakeNode.getNext 1
pop local 0
push local 0
call SnakeNode.getX 1
pop local 1
push local 0
call SnakeNode.getY 1
pop local 2
push this 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 1
push local 2
push this 0
sub
call Snake.addHead 3
pop temp 0
label IF_FALSE0
push this 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 1
push local 2
push this 0
add
call Snake.addHead 3
pop temp 0
label IF_FALSE1
push this 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push local 1
push this 0
sub
push local 2
call Snake.addHead 3
pop temp 0
label IF_FALSE2
push this 1
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push local 1
push this 0
add
push local 2
call Snake.addHead 3
pop temp 0
label IF_FALSE3
push pointer 0
call Snake.removeTail 1
pop temp 0
push constant 0
return
